@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="padding: 30px;">
        Bem-vindo(a) ao nosso site.
    </h1>

    <p>
        Essa é uma aplicação web MVC para explorar os recursos de testes 
        unitários no Visual Studio.
    </p>
    
</div>
