@{
    ViewData["Title"] = "Sobre essa aplicação";
}

<div class="text-center">
    <h1 class="display-4" style="padding: 30px;">
        Sobre essa aplicação.
    </h1>

    <p>
        Exemplo simples de Aplicação web MVC desenvolvida para uso nas aulas de 
        Qualidade e Teste de Software, do curso Técnico em Desenvolvimento 
        de Sistemas, da ETEC Coomendador João Rays.
    </p>
    <p>
        Projeto base para explorar recursos de testes unitários em aplicações web no Visual Studio.
    </p>
    
</div>
